
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501750421660'); /* IE9*/
  src: url('iconfont.eot?t=1501750421660#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501750421660') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501750421660') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501750421660#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daifu:before { content: "\e642"; }

.icon-icondiaoweijiangliao:before { content: "\e614"; }

.icon-ship:before { content: "\e6e3"; }

.icon-shop:before { content: "\e62b"; }

.icon-all:before { content: "\e696"; }

.icon-cart:before { content: "\e698"; }

.icon-cai:before { content: "\e646"; }

.icon-jiubei:before { content: "\e620"; }

.icon-milkorganicfoodv1codropswojciechzasina:before { content: "\e7d4"; }

.icon-guozhijiweijiu:before { content: "\e61f"; }

.icon-daishouhuo:before { content: "\e616"; }

.icon-daifahuo:before { content: "\e61d"; }

.icon-a800:before { content: "\e674"; }

.icon-fengche:before { content: "\e609"; }

.icon-bangbangtang:before { content: "\e615"; }

.icon-rice:before { content: "\e647"; }

.icon-dingdan:before { content: "\e682"; }

.icon-lingdang:before { content: "\e631"; }

.icon-mimianliangyou:before { content: "\e61a"; }

.icon-wode-copy:before { content: "\e610"; }

.icon-fangdajing:before { content: "\e600"; }

.icon-arrowleft:before { content: "\e693"; }

.icon-arrowright:before { content: "\e694"; }

.icon-chuan:before { content: "\e617"; }

.icon-pingzi:before { content: "\e657"; }

.icon-message:before { content: "\e618"; }

.icon-jianzhu:before { content: "\e675"; }

.icon-dizhi:before { content: "\e509"; }

.icon-shejiao:before { content: "\e677"; }

.icon-shutiao:before { content: "\e5ce"; }

.icon-xing:before { content: "\e656"; }

.icon-tea:before { content: "\e68f"; }

.icon-shouhou1:before { content: "\e774"; }

.icon-qianbao:before { content: "\e69c"; }

.icon-milk:before { content: "\e501"; }

.icon-biaoqian:before { content: "\e643"; }

.icon-shouye:before { content: "\e636"; }

.icon-tea1:before { content: "\e6f2"; }

.icon-bingqilin:before { content: "\e728"; }

